{% extends 'layout.html' %}
{% block body %}
    <div id="routesDiv">
        <h1>test header</h1>

            <select id="routesId" name="routeField" size="30">
                {% for route in routes %}
                    <option value="{{ route.Route }}">{{ route.Description }}</option>
                {% endfor %}
            </select>



            <select id="directionId" name="directionField" size="4"></select>

            <select id="stopsId" size="15"></select>

            <p id="timeId"></p>
    </div>
{% endblock %}
