{% extends 'layout.html' %}
{% block body %}

<h1>Metro Transit Nextrip</h1>

<div id="allListsDiv">
    <div id="routesDiv">
        <select id="routesId" name="routeField" size="30">
            {% for route in routes %}
                <option value="{{ route.Route }}">{{ route.Description }}</option>
            {% endfor %}
        </select>
    </div>

    <div id="directionDiv">
        <select id="directionId" name="directionField" size="4"></select>
    </div>

    <div id="stopsDiv">
        <select id="stopsId" size="15"></select>
    </div>
</div>

<hr>

<div id="timeDiv">
    <p id="timeId"></p>
</div>

{% endblock %}
